@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  background-color: #e7e7e7;
  font-family: 'Noto Sans JP', sans-serif;
}

main {
  display: flex;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.title {
  text-align: center;
}

.header {
  position: fixed;
  height: 40px;
}

nav {
  width: 100%;
}

p {
  font-size: 16px;
}

.mission {
  text-align: center;
  height: 250px;

}

@media screen and (min-width: 550px)
{
    .main {
      background-color: orange;
    }
}
